.sample {
    width: 100vw;
    height: 100vh;
    .sample-title {
        color: red;
        width: 100%;
        text-align: center;
    }
    p {
        font-size: 16px;
        color: blue;
        text-align: center;
        a {
            text-decoration: none;
            color: green;
            &:hover {
                color: greenyellow;
                text-decoration: underline;
            }
        }
    }
}